* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #000; 
}

#time {
    font-size: 8rem;
}

.greeting {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    text-align: center;
}

.greeting h1 {
    padding: 0.3rem;
}

.focus {
    opacity: 0.6;
    text-align: center;
}

.focus h2 {
    padding: 0.3rem;
}

@media(max-width: 700px) {
    #time {
        font-size: 6rem;
    }
}